.main-page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 32px; */
}


.main-page-banner {
    width: 100%;
    background: linear-gradient(rgb(215, 90, 44), rgb(144, 44, 8));
    color: white;
    display: flex;
    padding: 0 8%;
    height: 600px;
    /* overflow: hidden; */
    position: relative;
}


.banner-contacts {
    position: absolute;
    bottom: 0;
    /* translate: 0; */
    right: 41%;
    width: 36px;
    height: 144px;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: none;

    span {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.main-page-banner-content {
    width: 60%;
    display:flex;
    z-index: 1;
    padding-top: 180px;
    flex-direction: column;
    gap: 24px;
}


.main-page-banner-header {
    font-family: Titillium;
    font-size: clamp(2.4rem, 5.6vw, 5.2rem);
    text-transform: uppercase;
    line-height: clamp(2rem, 6vw, 5.6rem);
    font-weight: 600;
    text-shadow: 0 4px rgba(189, 173, 25, 0.6);
}

.main-page-banner-content > span:nth-child(1) {
    width: 80%;
    font-weight: 300;
    padding-left: 6px;
    /* font-size: .88rem; */
}

.main-page-banner-bck-img {
    width: 35%;
    height: 100%;
    background-color: grey;
    position: absolute;
    overflow: hidden;
    right: 6%;
    top: 72px;
}

.main-page-banner-bck-img > img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: .8;
    filter: brightness(120%)  sepia(80%) ;
    pointer-events: none;
}


.main-page-banner-content > button {
    padding: 12px 80px;
    display: none;
}

.section-1, 
.section-2, 
.section-8  {
    display: flex;
    width: 100%;
    padding: 0 12%; 
    height: fit-content; 
    padding-top: 72px;
    align-items: flex-end;
}

.section-1-img, 
.section-2-img {
    width: 50%;
    height: initial;
    overflow: hidden;
    border-radius: 4px;
    background-color: grey;
    height: 480px;
}

.short-img {
    height: 320px;
}

.section-1-img > img, 
.section-2-img > img {
    position: relative;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.section-1-body, 
.section-2-body, 
.section-4-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: .8rem;
    padding: 32px 48px;
    font-weight: 300;
    background-color: var(--secondary);
    color: var(--text-2);
}

.section-1-header, 
.section-2-header, 
.section-3-header,
.section-4-header {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-family: Titillium;
    color: var(--text-2);
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-family: Titillium;
    grid-column: span 2;
}


.section-2 {
    flex-direction: row-reverse;
}

.section-1-header > span:nth-child(1), 
.section-2-header > span:nth-child(1), 
.section-4-header > span:nth-child(1) {
    font-size: .76rem;
    color: var(--primary);
}

.section-2-header {
    grid-column: span 1;
}

.section-3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 36px 12%;
    background-color: var(--secondary);
    align-items: center; 
    margin-top: 40px;
    gap: 28px;
}


.increase-top-paddding {
    padding-top: 140px;
}

.section-3-grid {
    width: 100%;
    display: grid;
    gap: 24px;
    position: relative;
    row-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* overflow: hidden; */
}

.section-3-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 6px;
    padding: 20px 12px;
    align-items: center;
    text-align: center;
    background-color: #fff7ed76;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(58, 58, 58, 0.6) inset;
    color: var(--text-2);
    font-size: .8rem;
    font-weight: 300;
    min-height: 128px;
}

.section-3-card > span {
    position: relative;
}

.section-3-card > span:nth-child(1) {
    font-style: Titillium;
    font-weight: 500;
    /* color: var(--primary); */
}

.section-3-card > span:nth-child(2) {
    font-size: clamp(1rem, 1.2vw, 1.32rem);
    font-style: Titillium;
    font-weight: 600;
    color: white;
    padding: 4px;
}

.section-3-card > span:nth-child(3) {
    font-style: italic;
    font-size: .72rem;
    font-weight: 500;
}

.highlight {
    width: 150%;
    translate: -50% -50%;
    min-width: 100px;
    height: 100%;
    z-index: -1;
    left: 50%;
    top: 50%;
    position: absolute;
    mask-image: linear-gradient(90deg, transparent 5%, white 20% 80%, transparent 95%);
    background-color: var(--primary);
}

.section-6 {
    width: 100%;
    background-color: var(--text-2);
    padding: 60px 12%;
    color: white;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 148px;
}


.section-6-cnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-6-cnt > div:nth-child(1) {
    font-family: Titillium;
    font-size: clamp(2.4rem, 3.6vw, 3.2rem);
    text-transform: uppercase;
    font-weight: 400;
    width: 50%;
    line-height: clamp(2rem, 4.4vw, 4rem);
}

.section-6-cnt > ul {
    width: 48%;
    list-style-type: "â­";
    font-size: .8rem;
    gap: 12px;
    display: flex;
    flex-direction: column;
    li {
        padding-left: 8px;
    }
}

.section-6 .button {
    width: 40%;
    padding: 15px;
}

.section-6-contacts-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-6-contacts {
    display: flex;
    gap: 32px;
    width: 40%;
    justify-content: flex-end;
    margin-top: 12px;
    font-size: 1rem;
    display: none;

    span {
        cursor: pointer;
    }
}

.copyright {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    display: flex;
    justify-content: center;
    font-size: .6rem;
    padding: 16px;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .main-page-banner {
        height: 540px;
        padding: 0 6%;
    }

    .main-page-banner-content {
        width: 100%;
        padding-top: 160px;
        gap: 10px;
    }

    .main-page-banner-content > span:nth-child(2) {
        font-size: .8rem;
        width: 90%;
    }

    .main-page-banner-header {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.2rem;
        width: 100%;
    }
    
    .main-page-banner-bck-img {
        width: 80%;
        height: 75%;
        background-color: grey;
        position: absolute;
        overflow: hidden;
        right: 6%;
        top: auto;
        bottom: 30%;
        translate: 0 100%;
    }

    .banner-contacts {
        bottom: 30%;
        right: 6%;
        width: 144px;
        height: 36px;
        flex-direction: row;
        
        span {
            width: 36px;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .section-1, .section-2 {
        padding: 60px 6%;
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .increase-top-paddding {
        padding-top: 70%;
    }

    .section-1-img, .section-2-img {
        width: 100%;
        height: 220px;
    }

    .section-1-cnt, .section-2-cnt, .section-4-cnt { 
        width: 100%;
    }

    .section-1-header {
        font-weight: 600;
    }

    .section-4 {
        flex-direction: column;
    }

    .section-1-body, 
    .section-2-body, 
    .section-4-body {
        width: 100%; 
        padding-bottom: 60px;   
    }

    section-1-body-cnt, 
    .section-2-body-cnt, 
    .section-4-body-cnt {
        line-height: 1.28rem;
    }

    .section-1-img, .section-2-img {
        max-height: auto;
        height: 240px;
        width: 80%;
        margin-top: -28px;
        margin-right: 28px;
    }

    .section-6 {
        gap: 24px;
    }

    .section-6-cnt {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        div:first-child {
            width: 100%;
            font-size: 2rem;
        }
    }

    .section-6-cnt > ul {
        width: 100%;
        font-weight: 300;
        font-size: .72rem;
    }

    .section-6-contacts-container {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;

        .button {
            width: 100%;
            border-radius: 4px;
        }
    }

    .section-3 {
        padding: 40px 6%;
    }


    .section-3-grid {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .section-3-header {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 600;
    }

    .section-3-card {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 24px 20px;
        border-radius: 0;
        border-bottom: 1px solid rgba(32, 32, 32, 0.2);
        background-color: transparent;
        box-shadow: none;
        
        width: 100%;

        span:nth-child(2) {
            font-size: 1.4rem;
            color: var(--primary);
        }
    }

    .section-3-card:last-child {
        border-bottom: none;
    }

    .highlight {
        display: none;
    }

}